.place__image {
    max-width: 100%;
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: top left;
}

@media screen and (max-width: 769px) {
    .places__image {
      max-width: 375px;
      width: 100%;
    }
  }