.place__text {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
@media screen and (max-width: 769px) {
    .place__text {
        margin: 0 auto;
        max-width: calc(100% - 32px);
    }
}